.cabecalho{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--color-bg);
    width: 100%;
    border-bottom: 1px solid var(--color-border);
    backdrop-filter: blur(10px);
}

.content-header{
    display: flex;
    justify-content: space-between;
    padding: 0 24px; 
    max-width: 960px;
    margin: 0 auto;
}

.header-name{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.header-name h1{
    margin: 12px 12px 3px 12px;
}

.header-name p{
    margin: 3px 12px 12px 12px;
    color:  var( --color-primary);
}

.header-btns{
    display: flex;
    gap: 24px;
    align-items: center;
}

.header-btns a{
    text-decoration: none;
    color: var(--color-text);
    font-size: 20px;
    padding-bottom: 4px;
    position: relative;
}

.header-btns a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
    transition: width 0.3s ease;
}

.header-btns a:hover::after{
    width: 100%;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 28px;
  cursor: pointer;
}

.theme-switch input {
  position: absolute;
  opacity: 0;        /* esconde o checkbox padrão, mas ele continua funcional */
  width: 0;
  height: 0;
}

.theme-switch__track {
  position: absolute;
  inset: 0;
  background: var(--color-surface);
  border: 2px solid var(--color-accent);
  border-radius: 999px;
  transition: background 0.25s ease;
}

.theme-switch__thumb {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  background: var(--color-text);
  border-radius: 50%;
  transition: transform 0.25s ease;
}

.theme-switch input:checked + .theme-switch__track {
  background: var(--color-accent);
  transition: smooth;
}

.theme-switch input:checked + .theme-switch__track .theme-switch__thumb {
  transform: translateX(24px);
  background: var(--color-bg);
}