header{
    display: flex;
    justify-content: space-around;
    gap: 900px;
    position: sticky;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    margin: 20px 0px 20px 0px;
    gap: 20px;
    background-color: rgba(38, 40, 38, 0.8);
    border-radius: 100px;
    position: sticky;
    z-index: 0;
}

.header-bar a {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 100px;
    display: inline-block;
}

.header-bar a:hover {
    color: var(--cor-alt);
    background: rgba(255, 255, 255, 0.15);
    transition: 0.5s;
}

.header-title a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 12px;
}

.header-btn button{
    display: flex;
    align-items: center;
    padding: 12px;
    margin: 20px 0px 20px 0px;
    gap: 6px;
    background-color: rgba(38, 40, 38, 0.8);
    border-radius: 100px;
    cursor: pointer;
    border: none;
    color: #fff;
}

.header-btn button:hover{
    color: var(--cor-alt);
    background: rgba(255, 255, 255, 0.15);
    transition: 0.5s;
}